/*This stylesheet contains some custom class rather than Bootstrap*/
.span3 .circle-icon h3 i{
    font-size: 72px;
    line-height: 1.2em;
}
.span3 .code-icon{
    background: #ffffff;
    border-radius: 100%;
    height: 250px;
    width: 250px;
    text-align: center;
}
.span3 .code-icon i{
    color: #203748;
    font-size: 72px;
    line-height: 3.5em;

}
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
#profile, #skills, #work, #resume {
	padding:30px 0;
	padding-top: 120px;
	min-height:500px;
}
#profile h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
    text-align: center;
    font-size: 40px;
}
#profile h2:after, #skills h2:after, #work h2:after, #resume h2:after {
    content: " ";
    display: block;
    height: 1px;
    border-top: 2px solid #39D084;

    width: 100px;
    margin: 35px auto 20px;
}
/***** Profile *****/
	#profile h1 {
	color:#39d084;
	font-weight: normal;
}
#profile h3 {
	color:#fff;
	font-weight: normal;
}
#profile p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#profile .container .span5 {
	padding:40px 0;
}
a.hire-me {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.hire-me:hover {
	text-decoration:none;
	background:#11d170;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:last-child {
	margin-right:0;
}
ul.social-icons li a {
	opacity:0.8;
    color: #ffffff;
    text-decoration: none;
    height: 48px;
    width: 48px;
    display: inline-block;
    font-size: 32px;
    line-height: 1.6em;
    text-align: center;
}
ul.social-icons li a i.ank-facebook{
    
}
ul.social-icons li a:hover {
	opacity:1;
}


.social-icons a[href$="/feed/"] {
    background: #e6841b;
}

.social-icons a[href*="facebook.com"] {
    background: #3B5998;
}

.social-icons a[href*="twitter.com"] {
    background: #1BB2E9;
}

.social-icons a[href*="plus.google.com"] {
    background: #DC4937;
}

.social-icons a[href*="skype"] {
    background: #009CEF;
}

.social-icons a[href*="linkedin.com"] {
    background: #007BB6;
}

.social-icons a[href*="youtube.com"] {
    background: #ED3F41;
}

.social-icons a[href*="vimeo.com"] {
    background: #44BBFF;
}

.social-icons a[href*="flickr.com"] {
    background: #0062DD;
}

.social-icons a[href*="instagram.com"] {
    background: #3F729B;
}

.social-icons a[href*="pinterest.com"] {
    background: #D5282E;
}

.social-icons a[href*="stumbleupon.com"] {
    background: #EC4823;
}

.social-icons a[href*="tumblr.com"] {
    background: #455469;
}
.social-icons a[href*="digg.com"] {
    background: #14589E;
}

.social-icons a[href*="reddit.com"] {
    background: #FF4500;
}

.social-icons a[href*="wordpress."] {
    background: #21759B;
}

.social-icons a[href*="github."] {
    background: #4183C4;
}

.social-icons a[href*="codepen.io"] {
    background: #231F20;
}

.social-icons a[href*="dribbble.com"] {
    background: #E24D87;
}


.social-icons a[href*="mailto:"] {
    background: #DC4937;
}
.social-icons a[href*="stackoverflow"] {
    background: #F90;
}


/***** Skills *****/
#skills .span3 {
	width:235px;
	overflow: hidden;
}
#skills .span5 {
	text-align:left;
	padding:47px 0;
}
#skills .ps, #skills .ai, #skills .html, #skills .css {
	padding:25px;
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#skills .ps {
	background:#30a5dc;
}
#skills .ai {
	background:#ee742b;
}
#skills .html {
	background:#f04949;
}
#skills .css {
	background:#39d084;
}

#skills .ps:hover, #skills .ai:hover, #skills .html:hover, #skills .css:hover {
	border:8px solid #fff;
}
#skills .ps h3, #skills .ai h3, #skills .html h3, #skills .css h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
#skills .html h3, #skills .css h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
#skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
#skills .span5 h3 span {
	float:right;
}
.ps2 {
	width:70%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.ai2 {
	width:90%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.html2 {
	width:85%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.html3 {
	width:65%;
}
.css2 {
	width:60%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes html2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes css2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes html {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes css {
0% {
width:0px;
}
100% {
width:85%;
}
}
/**** Work container *****/
ul.work-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
}
ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #f04949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img:hover {
	opacity:0.1;
}
/***** Resume container *****/
#resume h3 {
	margin:60px 0;
}
#resume .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}
