@font-face {
	font-family: 'ankicon';
	src:url('ankicon.eot?-z8p943');
	src:url('ankicon.eot?#iefix-z8p943') format('embedded-opentype'),
		url('ankicon.woff?-z8p943') format('woff'),
		url('ankicon.ttf?-z8p943') format('truetype'),
		url('ankicon.svg?-z8p943#ankicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ank-"], [class*=" ank-"] {
	font-family: 'ankicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ank-paper-plane:before {
	content: "\e603";
}

.ank-file-text:before {
	content: "\e602";
}

.ank-jquery:before {
	content: "\e600";
}

.ank-php:before {
	content: "\e601";
}

.ank-images:before {
	content: "\e90e";
}

.ank-user-tie:before {
	content: "\e976";
}

.ank-zoom-in:before {
	content: "\e987";
}

.ank-trophy:before {
	content: "\e99e";
}

.ank-download3:before {
	content: "\e9c7";
}

.ank-embed2:before {
	content: "\ea80";
}

.ank-google-plus:before {
	content: "\ea88";
}

.ank-facebook:before {
	content: "\ea8c";
}

.ank-twitter:before {
	content: "\ea91";
}

.ank-github:before {
	content: "\eab1";
}

.ank-wordpress:before {
	content: "\eab6";
}

.ank-stackoverflow:before {
	content: "\eacf";
}

.ank-html5:before {
	content: "\eadf";
}

.ank-css3:before {
	content: "\eae1";
}

